*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #eee;
}

.container{
    max-width: 31.25rem;
    width: 100%;
    margin: 0 auto;
}

.hero__background{
    background: url(./assets/images/background-pattern-desktop.svg);
    height: 50%;
    position: absolute;
    width: 100vw;
    z-index: -1;
}

.hero__content{
    max-width: 31.25rem;
    width: 100%;
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero__content-title{
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.hero__content-title-img{
    width: 1.5rem;
}

.hero__content-title-text{
    font-size: 2rem;
}

.hero__content-list{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.hero__content-list-item-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.25rem;
    font-size: 0.75rem;
    font-weight: bold;
    position: relative;
}

.hero__content-list-item-content-img{
    background: url(./assets/images/icon-plus.svg) no-repeat;
    width: 2rem;
    height: 2rem;
}

.hero__content-list-item-content-img.active{
    background: url(./assets/images/icon-minus.svg) no-repeat;
}

.hero__content-list-item-hiden{
    font-size: 0.5rem;
    color: #555;
    padding: 0 1rem;
    overflow: hidden;
    max-height: 0;
}

.highlight{
    background: #c21b1b;
}